// Allow Select2 class names
// scss-lint:disable SelectorFormat
.select2-container--default {
  margin-bottom: $filter-spacing;

  @media(min-width: 601px) {
    &:not(:first-of-type) {
      margin-left: #{2 * $filter-spacing};
    }
  }

  @media(max-width: 600px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .select2-selection--single {
    height: 38px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-color: $border-color;
    border-radius: 4px;
    font-size: 18px;
    text-align: left;

    .select2-selection__arrow {
      height: 36px;
    }
  }
}

.select2-dropdown {
  border-color: $border-color;
}

.select2-search--dropdown {
  display: none;
}

.select2-results__option {
  font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-primary;
}
// scss-lint:enable SelectorFormat
